.shop-catalog {

    .custom-select {
        position: relative;
        margin-bottom: 0;

        label {
            position: absolute;
            left: -23%;
            top: 50%;
            font-size: 16px;
            color: #5F6E80;
            line-height: 22px;
            transform: translate(-50%, -50%);
        }
    }
}

.catalog {
    padding-top: 100px;

    @media screen and(max-width: 768px) {
        padding-top: 20px;
    }
}

.catalog__hero {
    .breadcrumbs {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .hero__title {
        margin-bottom: 32px;
    }
}

.breadcrumbs {

    .active {
        color: $colorBrownDarken;
    }
}

.slider--fullscreen {
    position: relative;

    .flickity-page-dots {
        position: absolute;
        bottom: 20px;

        .dot {
            background: #fff;

            &::before {
                border-color: #fff;
            }
        }

        @media screen and(max-width: 768px) {
            bottom: 12px;
        }
    }

    .item {
        position: relative;
        width: 100%;
    }

    .item__bg {
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        @media screen and(max-width: 768px) {
            img {
                height: 200px;
            }
        }
    }

    .item__description {
        position: absolute;
        display: grid;
        place-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .item__title,
        .item__subtitle {
            color: #fff;
        }

        .item__title {
            margin-bottom: 25px;
            font-family: "Playfair Display", serif;
            font-size: 50px;
            font-weight: bold;
            line-height: 67px;
        }

        .item__subtitle {
            font-size: 20px;
            line-height: 27px;
        }

        @media screen and(max-width: 768px) {
            top: 40%;
            width: 80%;

            .item__title {
                margin-bottom: 2px;
                font-size: 26px;
                line-height: 35px;
            }

            .item__subtitle {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}

.catalog__head {
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .custom-select {
        position: relative;
        width: 235px;
    }
}

.catalog__body {
    display: flex;
}






.sidebar--filter {
    margin-right: 25px;
    max-width: 220px;
    width: 100%;

    .sidebar__title {
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $colorPrimary;
    }
}


.filter {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $colorBrownLighten;
    cursor: pointer;
}

.filter__head {
    position: relative;
    display: flex;
    justify-content: start;

    .filter__title {
        font-size: 16px;
        line-height: 22px;
        color: $colorPrimary;
    }

    .filter-count {
        margin-left: 8px;
        font-size: 10px;
        color: #fff;
        background-color: $colorBrownDarken;
    }

    .select-arrow {
        top: 9px;
    }
}

.filter__body {
    max-height: 0;
    opacity: 0;
    transition: ease-out .25s;

    .checkbox-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }

    .checkbox-wrapper:not(:last-of-type)  {
        margin-bottom: 16px;
    }

    &.active {
        padding-top: 12px;
        max-height: 200px;
        opacity: 1;
        transition: ease-in .25s;
    }
}

.products {
    margin-bottom: 140px;
    width: 100%;
}

.products__sort-tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid $colorBrownLighten;

    .btn-sort {
        margin-right: 80px;
        padding-bottom: 8px;
        font-size: 16px;
        line-height: 22px;
        color: #231D18;

        &.active {
            text-shadow: 1px 0 0 $colorBrownDarken;
            color: $colorBrownDarken;
            border-bottom: 2px solid $colorBrownDarken;
        }
    }

    @media screen and(max-width: 768px) {
        display: flex;
        justify-content: space-between;

        .btn-sort {
            margin: 0;
        }
    }
}

.products__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card--product {
        width: 220px;
    }

    @media screen and(max-width: 768px) {
        .card--product {
            padding-right: 8px;
            padding-left: 8px;
            width: 49%;
            height: 272px;

            .card__preview {
                width: 133px;
                height: 150px;
            }

            &:hover {
                height: auto;
            }

            .card__description {
                padding-right: 8px;
                padding-left: 8px;
            }
        }

        .custom-select--card {
            display: block;
        }
    }
}

.card--product {
    position: relative;
    padding: 12px;
    width: 244px;
    height: 450px;
    transition: all ease-in-out .25s;

    .card__preview {
        margin: 0 auto;
        padding: 6px 18px;
        width: 220px;
        height: 220px;

        img {
            width: 100%;
            height: auto;
            background-size: contain;
        }
    }

    .card__description {
        
        padding: 12px;
        text-align: left;

        .card__title {
            margin-bottom: 4px;
        }

        .card__subtitle {
            margin-bottom: 20px;
        }
    }

    .card__btn-buy {
        margin-top: 12px;
        padding: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
}

.pagination {
    margin: 0 auto;
    width: fit-content;

    .pagination__list {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

        .page-number:not(:last-of-type) {
            margin-right: 24px;
        }

        .page-number.current {
            color: #fff;
            background-color: $colorBrownDarken;
        }
    }
}

.section-recommended {
    margin-bottom: 140px;

    .recommended__title {
        margin-bottom: 32px;
    }

    .flickity-viewport {
        height: 460px !important;
    }
}

.section-review {
    margin-bottom: 140px;

    .review__title {
        margin-bottom: 32px;
    }

    .review__list {
        .card--review:not(:last-of-type) {
            margin-right: 25px;
            width: 220px;
        }

       
    }
}

.card--review {
    width: 220px;

    &:not(:last-of-type) {
        margin-right: 25px;
    }

    .card__img {
        margin-bottom: 18px;
        padding: 6px 18px;
    }

    .card__title {
        margin-bottom: 2px;
    }

    .card__subtitle {
        margin-bottom: 8px;
        font-size: 10px;
        line-height: 14px;
        color: #5F6E80;
    }

    .card__text {
        margin-bottom: 9px;
        font-size: 10px;
        line-height: 135%;
        color: #231D18;
    }
}

.rating {
    margin-bottom: 9px;
    display: flex;

    .icon-rating:not(:last-of-type) {
        margin-right: 6px;
    }
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    color: #3B4857;
}

.shop-footer {
    margin-bottom: 90px;
    padding-top: 40px;
    border-top: 1px solid $colorBrownLighten;
    a { 
        display: block;
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 19px;
        color: #000;
    }


    .footer-grid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .grid-item {
            width: 220px;
        }

        @media screen and(max-width: 768px) {
            flex-wrap: wrap;
        }
    }


    .translations-list {
        display: flex;
    
        .item:not(:last-of-type) {
            margin-right: 50px;
        }
    }
}

.rights {
    font-size: 12px;
    line-height: 16px;
    color: #5F6E80;
}



/* Mobile elements */

.catalog-bar {
    margin-bottom: 20px;
    padding-right: 16px;
    padding-left:16px;
    z-index: 5;

    .btn-wrapper:last-of-type {
        margin-right: 7px;
    }
    

    .bar__buttons-list {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $colorBrownLighten;
    }

    .bar__btn {
        padding-left: 0;
        font-size: 14px;
        line-height: 19px;
        color: #000;
    }
}

.sorting__paremeters-list {
    position: absolute;
    top: 102%;
    width: 100vw;
    height: auto;
    background-color: #fff;
    z-index: 1;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    .parameters {
        height: 0;
        opacity: 0;
        visibility: hidden;
    
        &.active {
            height: auto;
            opacity: 1;
            visibility: visible;
            transition: ease-in .3s;
        }
    }

    .item:not(:last-of-type) {
        border-bottom: 1px solid $colorBrownLighten;
    }

    .item {
        position: relative;
        padding-top: 12px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 12px;

        &.active {
            background-color: $colorBrownLighten;
            transition: ease-in .2s;

            &::after {
                color: #000;
            }
        }

        &::after {
            content: 'Г';
            position: absolute;
            top: 20%;
            right: 16px;
            font-size: 20px;
            color: transparent;
            transform: rotate(-130deg);
        }
    }
}