.shop-single-product {
    .breadcrumbs {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    
}

.single-product__hero {
    .hero__grid {
        display: flex;
    }

    /* PRODUCT MAIN INFO */
    .hero__customers-info {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }

    .hero__title {
        margin-bottom: 12px;
        font-size: 32px;    
    }

    .hero__subtitle {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 25px;
        color: #3B4857;
    }

    /* PRODUCT INFO */
    .hero__product-info {
        padding-top: 16px;
        border-top: 1px solid $colorBrownLighten;
    }
    
    .product-info__title {
        margin-bottom: 16px;
        color: $colorBrownDarken;
    }

    .product-info__text {
        p {
            margin-bottom: 8px;
            font-size: 14px;
        }
    }


    /* HERO PREVIEW */
    .hero__preview {
        margin-right: 25px;
        margin-left: 25px;
        padding: 80px 12px 0;
        max-width: 504px;
        width: 100%;
    }


    /* HERO ACTIONS */
    .buy__title-price {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .capacity-modifications {
        margin-bottom: 40px;
        display: flex;
        
        .capacity-button:not(:last-of-type) {
            margin-right: 20px;
        }

        .capacity-button {
            padding: 10px 12px;
            font-size: 14px;
            line-height: 19px;
            background: transparent;
            border: 1px solid $colorBrownDarken;
        }
    }


    .buy__actions {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }

    .btn-wish-list {
        position: relative;
        margin-right: 20px;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0216 3.31694C20.5004 2.79376 19.8815 2.37873 19.2003 2.09557C18.5191 1.81241 17.7889 1.66667 17.0516 1.66667C16.3142 1.66667 15.5841 1.81241 14.9029 2.09557C14.2217 2.37873 13.6028 2.79376 13.0815 3.31694L11.9997 4.40222L10.9179 3.31694C9.86496 2.26064 8.43689 1.66722 6.94783 1.66722C5.45877 1.66722 4.03069 2.26064 2.97777 3.31694C1.92484 4.37324 1.33331 5.80589 1.33331 7.29972C1.33331 8.79355 1.92484 10.2262 2.97777 11.2825L4.05958 12.3678L11.9997 20.3333L19.9398 12.3678L21.0216 11.2825C21.5432 10.7596 21.9569 10.1387 22.2391 9.45529C22.5214 8.77191 22.6666 8.03944 22.6666 7.29972C22.6666 6.56 22.5214 5.82753 22.2391 5.14415C21.9569 4.46077 21.5432 3.83988 21.0216 3.31694V3.31694Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.0216 3.31694C20.5004 2.79376 19.8815 2.37873 19.2003 2.09557C18.5191 1.81241 17.7889 1.66667 17.0516 1.66667C16.3142 1.66667 15.5841 1.81241 14.9029 2.09557C14.2217 2.37873 13.6028 2.79376 13.0815 3.31694L11.9997 4.40222L10.9179 3.31694C9.86496 2.26064 8.43689 1.66722 6.94783 1.66722C5.45877 1.66722 4.03069 2.26064 2.97777 3.31694C1.92484 4.37324 1.33331 5.80589 1.33331 7.29972C1.33331 8.79355 1.92484 10.2262 2.97777 11.2825L4.05958 12.3678L11.9997 20.3333L19.9398 12.3678L21.0216 11.2825C21.5432 10.7596 21.9569 10.1387 22.2391 9.45529C22.5214 8.77191 22.6666 8.03944 22.6666 7.29972C22.6666 6.56 22.5214 5.82753 22.2391 5.14415C21.9569 4.46077 21.5432 3.83988 21.0216 3.31694V3.31694Z' stroke='url(%23paint0_linear)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='12' y1='1.66667' x2='12' y2='20.3333' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='black'/%3E%3Cstop offset='1' stop-color='black' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
        }
    }

    .btn-buy {
        padding-top: 15px;
        padding-bottom: 15px; 
        width: 100%;
    }
}

/* BULLETS */

.buy__bullets {

    .item {
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        .item__image {
            margin-right: 16px;
            width: 44px;
            height: 44px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .item__title {
            font-size: 14px;
            line-height: 150%;
            color: #3B4857;
        }
    }
}


.single-product__description__tabs {
    margin-top: 40px;

    .tab__description {
        position: relative;
        margin: 0 auto;
        max-width: 700px;
        height: 100px;

        .tab-text {
            position: absolute;
            font-size: 14px;
            line-height: 150%;
            color: #3B4857;
            opacity: 0;
            transition: ease-out .2s;
            
            &.active {
                opacity: 1;
                transition: all ease-in .2s;
            }
        }
    }
}

.tabs-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $colorBrownLighten;

    .btn-tab:not(:last-of-type) {
        margin-right: 60px;
    }

    .btn-tab {
        padding-bottom: 5px;
        font-family: "Playfair Display", serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid transparent;
        transition: ease-out .2s;

        &.active {
            color: $colorBrownDarken;
            border-bottom: 3px solid $colorBrownDarken;
            transition: ease-in .2s;
        }
    }
}



/* PROBE */

.probe {
    margin-top: 140px;
    transition: all .2s;
}

.probe-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.probe__description {
    padding-top: 40px;
    padding-bottom: 40px;
    // max-width: 848px;
    width: 100%;
    text-align: center;
    background-color: $colorBrownLighten;

    .probe__title {
        margin-bottom: 20px;
    }

    .probe__subtitle {
        font-size: 20px;
        line-height: 27px;
        color: #3B4857;
    }
}



/* PROBE PRODUCTS */

.probe__products-list {
    margin-left: 113px;
    display: flex;
    flex-direction: column;

    .card--small:first-of-type {
        border-bottom: 1px solid $colorBrownLighten;
    }

}

.card--small {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;

    .card__preview {
        margin-right: 20px;
        padding: 44px 13px;
    }

    .card__body {
        width: 278px;
    }

    .card__title {
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 27px;
        color: #231D18;
    }

    .card__subtitle {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 19px;
        color: #3B4857;
    }

    .card__price {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        .previous {
            padding-left: 12px;
            font-size: 14px;
            line-height: 19px;
            color: #5F6E80;
            text-decoration: line-through;
        }
    }

    .card__actions {
        display: flex;

        .quantity-group {
            margin-top: 0;
            margin-right: 22px;
            width: 122px;
        }

        button, input {
            height: 46px;
        }

        .btn-dark {
            width: 140px;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
        }
    }
}



/*  SECTION NEW */

.section-new {
    margin-bottom: 140px;
}

/* SECTION FEEDBACK */

.feedback {
    .feedback__tabs {
        justify-content: start;
    }

    .pagination {
        margin-top: 90px;
        margin-bottom: 140px;
    }
}



/*  Comments  */

.comments-list {
    max-width: 648px;
    width: 100%;

    .item {
        padding: 12px 0;
        border-bottom: 1px solid $colorBrownLighten;
    }

    .comment__head {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }

    .icon-rating {
        width: 20px;
        height: 20px;
        
        &::before {
            background-repeat: no-repeat;
        }
    }

    .author {
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: $colorPrimary;
    }

    .text {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 150%;
        color: $colorSecondary;
    }

    .btn-reply {
        padding-left: 0;
        font-size: 14px;
        line-height: 19px;
        color: $colorBrownDarken;
        background-color: transparent;
        border: none;
    }

    .reply-item {
        padding-left: 25px;
    }
}

.comments-form {
    margin-left: 100px;
    max-width: 452px;
    width: 100%;

    .input-wrapper,
    .form-textarea {
        margin-bottom: 24px;
        width: 100%;
    }

    .form-textarea {
        padding-left: 0;
    }

    .form__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
    }

    .rating__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    .btn-submit {
        margin-bottom: 12px;
        padding: 15px;
    }

    .note {
        font-size: 12px;
        line-height: 150%;
        color: $colorPrimary;
    }
}