.shop-single-product {
    .breadcrumbs {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .recommended__product-list {
        display: block;
        height: auto;
    }

    @media screen and(max-width: 768px) {
        .recommended__product-list {
            max-height: unset;
            height: auto;
        }

        .flickity-button {
            display: none;
        }
    }
}

.single-product__hero {
    .hero__grid {
        display: flex;
    }

    /* PRODUCT MAIN INFO */
    .hero__customers-info {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }

    .review-link {
        font-size: 12px;
    }

    .hero__title {
        margin-bottom: 12px;
        font-size: 32px;    
    }

    .hero__subtitle {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 25px;
        color: #3B4857;
    }

    /* PRODUCT INFO */
    .hero__product-info {
        padding-top: 16px;
        border-top: 1px solid $colorBrownLighten;
    }
    
    .product-info__title {
        margin-bottom: 16px;
        color: $colorBrownDarken;
    }

    .product-info__text {
        p {
            margin-bottom: 8px;
            font-size: 14px;
            color: #3B4857;

            .bold {
                color: #000;
            }
        }
    }


    /* HERO PREVIEW */
    .hero__preview {
        position: relative;
        margin-right: 25px;
        margin-left: 25px;
        padding: 80px 12px 0;
        max-width: 504px;
        width: 100%;
    }


    /* SLIDERS */

    .hero__nav-slider {
        margin-top: 12px;

        .item {
            margin-right: 20px;
            width: 60px;
            height: 60px;
            border: 1px solid $colorBrownLighten;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &.is-nav-selected {
                border: 1px solid $colorBrownDarken;
            }
        }

        @media screen and(max-width: 768px) {
            display: none;
        }
    }


    /* HERO ACTIONS */
    .buy__title-price {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .capacity-modifications {
        margin-bottom: 40px;
        display: flex;
        
        .capacity-button:not(:last-of-type) {
            margin-right: 20px;
        }

        .capacity-button {
            padding: 10px 12px;
            font-size: 14px;
            line-height: 19px;
            background: transparent;
            border: 1px solid $colorBrownLighten;
            transition: ease-out .25s;

            &.active {
                border: 1px solid $colorBrownDarken;
                transition: ease-in .25s;
            }
        }
    }


    .buy__actions {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }

    .btn-wish-list {
        position: relative;
        margin-right: 20px;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;

        &.active {
            svg {
                fill: $colorBrownDarken !important;
            }

            svg path {
                stroke: #8D6355 !important;
            }
        }

        &.card__like {
            top: unset;
            right: unset;
        }
    }

    .btn-buy {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
    }

    @media screen and(max-width: 768px) {
        .hero__grid {
            flex-direction: column;
        }

        .custom-select {
            display: block;
            width: 100%;

            .custom-celect__input {
                max-width: unset;
            }
        }

        .hero__preview {
            order: 1;
            margin-right: 0;
            margin-left: 0;
            padding: 0;
            padding-top: 45px;

            .item {
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
                max-width: 1000%;
                width: 100%;

                img {
                    width: 100%;
                    height: 211px;
                     object-fit: contain;
                }
            }

            .hero__main-slider {
                margin-bottom: 20px;

                .item.active {
                    position: fixed !important;
                    top: -100px;
                    //left: 0 !important;
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover;
                    object-position: center;
                    background-color: #fff;
                    transition: all ease-in-out 0.5s;
                    z-index: 100;

                    img {
                        height: 100%;
                    }
                }
            }
        }

        .product-preview__controls {
            position: fixed;
            top: 87%;
            background-color: #fff;
        }

        .hero__description {
            order: 2;
        }

        .hero__buy {
            order: 3;

            .custom-select {
                max-width: unset;
            }
        }
    }
}

/* BULLETS */
.buy__bullets {
    .item {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;        

        .item__image {
            margin-right: 16px;
            width: 44px;
            height: 44px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .item__title {
            font-size: 14px;
            line-height: 150%;
            color: #3B4857;
        }
    }

    .item__body {
        display: flex;
        justify-content: space-between;

        .icon {
            margin-left: 12px;

            &.active {
                svg {
                    stroke: $colorBrownDarken;
                }
            }

            & > svg {
                pointer-events: none;
            }
        }
    }
}

#btnTooltipOpen {
    cursor: pointer;
}


.single-product__description__tabs {
    margin-top: 40px;

    .tab__description {
        position: relative;
        margin: 0 auto;
        max-width: 700px;
        height: 100px;

        .tab-text {
            position: absolute;
            font-size: 14px;
            line-height: 150%;
            color: #3B4857;
            opacity: 0;
            transition: ease-out .2s;
            
            &.active {
                opacity: 1;
                transition: all ease-in .2s;
            }
        }
    }
}

.tabs-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $colorBrownLighten;

    .btn-tab:not(:last-of-type) {
        margin-right: 60px;
    }

    .btn-tab {
        padding-bottom: 5px;
        font-family: "Playfair Display", serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid transparent;
        transition: ease-out .2s;

        &.active {
            color: $colorBrownDarken;
            border-bottom: 3px solid $colorBrownDarken;
            transition: ease-in .2s;
        }
    }
}

/* PROBE */
.probe {
    margin-top: 140px;
    transition: all .2s;

    @media screen and(max-width: 768px) {
        margin-bottom: 60px;
    }
}

.probe-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and(max-width: 768px) {
        flex-direction: column;

        .probe__description {
            margin-left: 16px;
            margin-right: 16px;
            padding-top: 16px;
            padding-bottom: 16px;
            max-width: 1000%;
            width: calc(100% + 32px);
        }
    }
}

.probe__description {
    padding-top: 40px;
    padding-bottom: 40px;
    // max-width: 848px;
    width: 100%;
    text-align: center;
    background-color: $colorBrownLighten;

    .probe__title {
        margin-bottom: 20px;
    }

    .probe__subtitle {
        font-size: 20px;
        line-height: 27px;
        color: #3B4857;
    }
}

/* PROBE PRODUCTS */

.probe__products-list {
    margin-left: 113px;
    display: flex;
    flex-direction: column;

    .card--small:first-of-type {
        border-bottom: 1px solid $colorBrownLighten;
    }

    @media screen and(max-width: 768px) {
        margin-left: 0;

        .card--small {

            .card__body {
                width: 100%;
            }

            .card__preview {
                padding: 44px 9px;
                display: flex;
                align-items: center;
            }

            .card__actions {
                flex-direction: column;
            }

            .card__subtitle {
                max-width: 70%;
            }

            .card__actions {
                .quantity-group {
                    margin-bottom: 16px;
                    justify-content: space-between;
                    width: 100%;
                }

                .btn-dark {
                    width: 100%;
                }
            }
        }
    }
}

/*  SECTION NEW */
.section-recommended,
.section-new {
    .flickity-viewport {
        //overflow: visible;
    }

    .custom-select {
        margin-bottom: 0;
    }
}

.section-new {
    margin-bottom: 140px;

    @media screen and(max-width: 1024px) {
        margin-bottom: 50px;
    }
}


