
.accordion {
    width: 100%;

    .item {
        position: relative;

        &:not(:last-child) {
            border-bottom: 1px solid $colorBrownLighten;
        }
        
        .outer-accordion-item {
            cursor: pointer;

            /*Поведение кнопки аккордеона */
            &.active {
                .item-link {
                    color: $colorBrownDarken;
                    transition: all .2s;
                }

                .line {
                    background-color: $colorBrownDarken;

                    & + .line {
                        transform: none;
                    }
                }
            }
        }

        .inner-accordion-items {
            opacity: 0;
            max-height: 0;
            transition: all ease-out .5s;
            transition-delay: opacity .5s;

            .item__text {
                padding-top: 12px;
                padding-bottom: 16px;
                font-size: 14px;
                line-height: 150%;
                color: $colorSecondary;
            }
        }
        
        .inner-accordion-items.active {
            max-height: 250px;
            opacity: 1;
            transition: all ease-in .5s;
            transition-delay: .7s;
        }

        .item-link {
            display: block;
            padding: 16px 0;
            font-family: "Playfair Display";
            font-size: 18px;
            color: #000;
        }
    }
}

