
/* blog cards */

.blog-slider {
    margin-bottom: 40px;

    .card--post {
        margin-right: 30px;
    }
}

.card--post {
    max-width: 380px;
    width: 100%;

    .post__preview {
        margin-bottom: 12px;

        img {
            width: 100%;
        }
    }

    .post__title {
        margin-bottom: 8px;
        font-family: "Playfair display", serif;
        font-size: 20px;
        line-height: 150%;
        color: #231D18;
    }

    .post__body {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 150%;
        color: $colorSecondary;
    }

    .post__date {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
        color: #5F6E80;
    }

    .btn-link {
        width: 100%;
    }
}
