.btn-group {
    display: flex;
    overflow: visible;
    
    .btn-icon {
        margin-left: 32px;
    }

    @media screen and(max-width: 768px) {

        .btn-icon {
            margin-left: 20px;
        }

        .btn-icon:first-of-type {
            margin-left: 0;
        }
    }
}

.btn-reset {
    background-color: transparent;
    border: none;
}

.btn-round {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 600;
    background-color: $colorBrownLighten;
    border-radius: 50%;

    @media screen and(max-width: 768px) {
        background-color: $colorBrownDarken;
        color: #fff;
    }
}

.btn-round--sm {
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.btn-round--md {
    width: 32px;
    height: 32px;
}

.btn-lg {
    padding: 21px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.btn-xl {
   padding: 20px 100px;
   font-size: 16px;
   font-weight: bold;

   @media screen and(max-width: 768px) {
        padding: 13px 70px;
        line-height: 150%;
   }
}

.btn-dark {
    color: #fff;
    background-color: #000;
    border: none;
}


.btn-icon {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

.btn-burger {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;   

    .line {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #fff;
        border-radius: 8px;
        transition: all ease-in-out .4s;
    }

    .line + .line {
        margin-top: 4px;
    }

    @media screen and(max-width: 768px) {
        &.active {
            .line {
                width: 16px;
                transform: rotate(-45deg);
                transform-origin: left;
                transition: all ease-in-out .4s;
            }
        
            .line + .line {
                margin-top: -3px;
                transform: rotate(45deg);
            }
        }
    }

   
}

.btn-link {
    padding: 20px 40px;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    // cursor: pointer;
}

.btn-primary {
    padding: 13px;
    width: 160px;
    font-size: 14px;
    line-height: 19px;
    background-color: $colorBrownLighten;
    border: none;
    transition: all ease-in-out .25s;

    &.active {
        color: $colorWhite;
        background-color: $colorBrownDarken;
    }
    
    @media screen and(max-width: 768px) {
        padding: 6px 16px;
        width: unset;
    }
}

.btn-ouline-primary {
    font-size: 16px;
    // color: #000;
    background: transparent;
    border: 2px solid #000;
}



.minus,
.line--dark,
.line-vertical--dark {
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 8px;
    background-color: $colorSecondary;
}

.line-vertical--dark {
    transform: rotate(90deg);
    position: absolute;
}


.btn-delete {
    color: $colorSecondary;
    text-decoration: underline;
}

.btn-submit {
    margin-top: 32px;
}

.btn-fill {
    position: relative;
    z-index: 1;

    &:hover::before {
        width: 100%;
        transition: width .4s cubic-bezier(0.39, 0.575, 0.565, 1);
        // z-index: 0;
    }

    &:hover {
        color: #fff;
    }
}

.btn-fill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 101%;
    transition: width 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: -1;
    background-color: #000000;

    .active.btn-fill::before {
        width: 100%;
    }
}


.btn-accordion {
    position: relative;
    width: 28px;
    height: 14px;

    .line {
        position: absolute;
        display: inline-block;
        width: 14px;
        height: 1.5px;
        background-color: $colorSecondary;
        border-radius: 12px;
        transition: all .3s;

        & + .line {
            transform: rotate(90deg);
        }
    }
}

.line--md {
    position: absolute;
    top: 50%;
    left: 18%;
    display: inline-block;
    width: 18px;
    height: 1.5px;
    background-color: $colorSecondary;
    border-radius: 12px;
    transition: all .6s;
    transform: rotate(-45deg);

    & + .line--md {
        transform: rotate(45deg);
    }
}

/* 
active button for steps
*/

.btn-close {
    margin-right: auto;
    padding: 10px;
    position: relative;
    width: 19px;
    height: 19px;
}

.btn-close:hover {
    .line--md {
        transform: rotate(230deg);
    }

    .line--md + .line--md {
        transform: rotate(135deg);
    }
}

.quantity-group {
    margin-top: 8px;
    display: flex;
    border: 1px solid $colorBrownLighten;

    .btn-square {
        position: relative;
        padding: 0;
        display: grid;
        place-items: center;
        width: 44px;
        height: 32px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        background: transparent;
        border: none;
    }
}

.btn-link--underline {
    padding: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    transition: ease-in-out .3s;

    &:not(:last-of-type) {
        margin-right: 24px;
    }

    &.active {
        color: $colorBrownDarken;
    }
}

#btnZoomOff {
    padding: 11.5px 45px;
    font-size: 14px;
}