.cards-list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

    @media screen and(max-width: 768px) {
        margin-top: 8px;
        max-height: 350px;
        overflow: hidden;
        overflow-y: scroll;

        .card--text:not(:last-of-type){
            margin-bottom: 12px;
        }
    }
}

.card--text {
    display: flex;
    flex-direction: column;
    padding: 16px 14.5px;
    flex-basis: 48.5%;
    border: 1px solid $colorGrey;
    transition: all ease-in-out .3s;
    // cursor: pointer;

    .label {
        color: #000;
        font-size: 14px;
        font-weight: 700;
    }

    .card-description {
        font-size: 14px;
        line-height: 150%;
    }

    &.active {
        border: 1px solid #8D6355;
        transition: all ease-in-out .4s;

        .header__title {
            color: $colorBrownDarken;
        }
    }

    @media screen and(max-width: 768px) {
        flex-basis: 100%;
    }
}

.card__header {
    padding-bottom: 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $colorGrey;

    .header__subtitle {
        font-size: 12px;
        line-height: 16px;
    }
}

.step--package {
    .cards-list {
        margin-top: 20px;
    }
}