.card--simple {
    position: relative;
    // padding: 12px 12px 20px;
    text-align: left;
    
    .card__preview {
        margin-bottom: 12px;
    }
    
    .card__title {
        margin-bottom: 4px;
    }

    .card__subtitle {
        margin-bottom: 20px;
    }

    .price__quantity {
        margin-bottom: 14px;
    }

    .btn-buy {
        opacity: 0;
        transition: ease-out .2s;
    }

    &:hover {
        box-shadow: none;

        .btn-buy {
            opacity: 1;
            transition: ease-in .3s;
        }

        .custom-select {
            opacity: 1 !important;
            visibility: visible !important;
        }

        .card__body {
            // height: calc(100% + 128px);
            height: auto !important;
            background-color: #fff;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
            z-index: 2;
        }

        @media screen and(max-width: 768px) {
            .card__body {
                height: calc(100% + 114px);
            }
    
        }
    }

    @media screen and(max-width: 768px) {
        margin-bottom: 20px;
    }
}




.card,
.card---recommended,
.card--product {

    .card__body {
        padding: 12px;
    }

    &:hover {
        box-shadow: none;

        .card__body {
            height: calc(100% + 128px);
            background-color: #fff;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
            z-index: 2;
        }

        @media screen and(max-width: 768px) {
            .card__body {
                height: calc(100% + 114px);
            }
    
        }
    }
}

