.icon-login {
    background-image: url('~images/icons/login.svg');
}

.icon-heart {
    background-image: url('~images/icons/heart.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-cart {
    background-image: url('~images/icons/cart.svg');
}

.icon-close {
    background-image: url('~images/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    border-radius: 50%;
}
