.navigation-menu {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 200px;
    max-width: 573px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    // z-index: 2;
    transition: ease-in-out 1s;
    opacity: 0;
    
    &.active {
        left: 0;
        opacity: 1;
        transition: ease-in-out 0.9s;
        z-index: 5;
    }

    .menu__header {
        display: flex;

        @media screen and(max-width: 768px) {
            visibility: hidden;
        }
    }

    .menu__socials {
        display: flex;

        .item:first-of-type {
            margin-right: 32px;
        }

        .item-link {
            color: #000;
        }

        @media screen and(max-width: 768px) {
            display: none;
        }
    }

    .menu__content {
        margin-top: 84px;

        @media screen and(max-width: 768px) {
            margin-top: 20px;
            max-height: 464px;
            overflow: hidden;
            overflow-y: scroll;
        }
    }

    .cabinet-login {
        margin-top: 20px;
        margin-bottom: 20px;

        .btn-cabinet {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 0;
            font-size: 18px;
            line-height: 24px;
        }
    }
    

    /*  Menu Footer*/

    .menu__footer {
        margin-top: auto;
        display: block;

        @media screen and(max-width: 768px) {
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 20px;
        }
    }

    .translations-list {
        display: flex;

        .item-link {
            color: #3B4857;
            margin-right: 32px;
            text-decoration: underline;

            &.current {
                color: $colorBrownDarken;
            }
        }
    }

    .nav-btn {
        margin-top: 32px;
    }

    @media screen and(max-width: 768px) {
        left: -200%;
        padding-right: 16px;
        padding-left: 16px;
    }
}
