.hot::before {
    position: absolute;
    content: 'hot';
    top: 12px;
    left: 12px;
    padding: 4px 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #DB2629;
    z-index: 1;
}

.new::before {
    position: absolute;
    content: 'new';
    top: 12px;
    left: 12px;
    padding: 4px 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #32C45B;
    z-index: 1;
}