.section {
    padding-top: 100px;
    padding-bottom: 50px;

    @media screen and(max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section--small {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 60px;
    // max-width: 600px;
    text-align: center;

    @media screen and(max-width: 768px) {

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.section--img-aside {
    .section__title {
        text-align: left;
    }

    .heading-increment::before {
        left: 0;
        transform: translate(15%, -70%);
    }

    @media screen and(max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


.section__head {
    margin-bottom: 43px;
    display: flex;
    justify-content: space-between;
    text-align: left;

    .section__title {
        margin-left: 0;
        text-align: left;
        max-width: 730px;

        &.heading-increment::before {
            left: 0;
            transform: translate(15%, -70%);
        }
    }

    .custom-celect__input {
        max-width: unset;
    }

    @media screen and(max-width: 768px) {
        flex-direction: column;
    }
}

.section__link {
    display: block;
    text-align: center;
}

.section__title {
    position: relative;
    margin: 0 auto 20px;
    max-width: 500px;
    width: 100%;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.section__subtitle {
    margin: 0 auto 40px;
    max-width: 648px;
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    color: $colorSecondary;
}

@media screen and(max-width: 768px) {
    .section__title,
    .section__subtitle {
        text-align: left;
    }

    .section__title {
        font-size: 20px;
    }
    
    .section__subtitle {
        font-size: 14px;
    }
}




.section__text {
    margin: 0 auto 40px;
    max-width: 630px;
    font-size: 16px;
    line-height: 150%;
    color: $colorSecondary;

    @media screen and(max-width: 768px) {
        margin-bottom: 20px;
        text-align: left;
        font-size: 14px;
    }
}

.section__bg {
    padding-top: 44px;
    padding-bottom: 44px;

    @media screen and(max-width: 768px) {
        padding-top: 12px;
        padding-bottom: 20px;

        img {
            width: 100%;
        }
    }
}

.section__bg.show-mobile {
    @media screen and(max-width: 768px) {
        padding-top: 0;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 1000%;
        width: auto;
        
        img {
            height: 220px;
            object-fit: cover;
        }
    }
}

.section__description {
    margin-right: 48px;
    width: 700px;

    @media screen and(max-width: 768px) {
        margin-right: 0;
        width: unset;
    }
}