.custom-select--card {
    width: 100%;
    border: 1px solid #F7EDE2;
    text-align-last: center;

    .select-arrow {
        top: 18px;
    }

    .option__items .item {
        height: 36px;
    }
}