.custom-select--card {
    width: 100%;
    border: 1px solid #F7EDE2;
    text-align-last: center;

    .select-arrow {
        top: 18px;

        .line--dark:nth-child(2) {
            transform: rotate(45deg) translateX(-6px);
        }
    }

    .option__items .item {
        height: 36px;
    }

}

// .custom-select,
.custom-select--card {
    @media screen and(max-width: 768px) {
        display: none;
    }
}
