.slider {
    .flickity-prev-next-button {
        visibility: hidden;
        background-color: transparent;
    }

    &:hover {
        .flickity-prev-next-button {
            visibility: visible;
            opacity: 1;
            transition: ease-in .3s;
        }
    }
}

@media screen and(max-width: 768px) {
    .flickity-button {
        display: none !important;
    }
}

.flickity-page-dots {
    .dot {
        margin: 14px;
        width: 7px;
        height: 7px;
        background: #000;
        opacity: 1;
        
    }

    .is-selected {
        transition: ease-in .3s;
    }

    .is-selected::before {
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        background-color: transparent;
        transform: translate(-51%,-35%);
        border: 1px solid #000;
        border-radius: 50%;
    }

    @media screen and(max-width: 768px) {

        .dot {
            margin: 7px !important;
            width: 4px !important;
            height: 4px !important;
        }

        .is-selected::before {
            width: 20px;
            height: 20px;
        }
    }
}