
/*  CHOOSE BASE */

.choose {
    display: block;
    margin-top: 104px;
    max-width: 700px;
    width: 100%;
    text-align: left;
    overflow: hidden;

    .btn-filter {
        font-weight: normal;

        &.active {
            font-weight: bold;
        }
    }

    @media screen and(max-width: 768px) {
        margin-top: 0;
        // padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        //overflow: visible;
    }
}

.tabs {
    margin-top: 12px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .btn-filter {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .btn-filter:last-of-type {
        margin-right: auto;

    }

    @media screen and(max-width: 768px) {
        margin-top: 8px;
        flex-wrap: nowrap;
        overflow-x: scroll;

        
        .btn-filter:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

.base-description {
    display: -moz-box;
    display: -webkit-box;
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
    max-height: 19px;
    font-size: 14px;
    line-height: 19px;
    color: #231D18;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    transition: all ease-out 1s;

    @media screen and(min-width: 768px) {
        &.active {
            -webkit-line-clamp: unset;
            text-overflow: unset;
            max-height: 180px;
            transition: all ease-in-out 1s;
        }
    }

    

    @media screen and(max-width: 768px){
        margin-top: 12px;
    }
}

.read-more {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #3B4857;
     cursor: pointer;
}