/* CARDS LIST  */
.found-title {
    margin-top: 40px;
    color: $colorSecondary;

    .found-count {
        margin-left: 8px;
    }

    @media screen and(max-width: 768px) {
        margin-top: 20px;
        font-size: 12px;
    }
}

.choose__details {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
    width: 715px;
    height: auto;

    @media screen and(max-width: 768px) {
        width: 100%;
        height: max-content;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: 160px;
        width: 100%;
        margin-bottom: 32px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            .card__img img {
                transform: scale(1.05);
                transition: all ease-in-out .5s;
            }
        }

        .card__img {
            position: relative;
            width: 160px;
            height: 160px;
            overflow: hidden;
        }

        .card__title {
            margin-top: 12px;
            height: 48px;
            line-height: 150%;   
        }

        &.active {
            .card__img img {
                filter: brightness(0.8);
                transform: none;
            }

            .card__title {
                color: $colorBrownDarken;
            }

            .chosen {
                z-index: 2;
                opacity: 1;
            }

            .card--details {
                max-height: 200px;
                opacity: 1;
                transition: all ease-in .3s;
            }
        }

        .card__head {
            display: flex;
            flex-direction: column;
        }

        @media screen and(max-width: 768px) {
            margin-bottom: 12px;
            align-items: center;
            width: 100%;
            max-width: unset;
            // border: 1px solid $colorBrownLighten;

            .card__head {
                flex-direction: row;
                align-items: center;
                width: 100%;
                border: 1px solid $colorBrownLighten;
            }

            .card__img {
                width: 65px;
                height: 58px;

                img {
                    object-fit: contain;
                    object-position: left;
                    width: 100%;
                    height: 58px;
                }
            }

            .card__description {
                margin-left: 12px;
            }
            
            .card__title {
                margin-top: 0;
                height: unset;
            }

            .card__cost {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }

        }
    }

    .icon-detail {
        position: absolute;
        top: 10px;
        right: 10px;
        display: grid;
        place-items: center;
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;
        z-index: 2;

        svg {
            width: 20px;
            height: 20px;
            transition: all ease-in-out .3s;
        }

        &:hover {
            cursor: url('~images/icons/info.svg')4 12, pointer;


            svg path {
                stroke: $colorBrownDarken;
            }
        }

        @media screen and(max-width: 768px){
            display: none;
        }
    }

    .chosen {
        position: absolute;
        left: calc(50% - 36px);
        top: 50%;
        font-weight: 600;
        font-size: 16px;
        line-height: 0;
        color: #fff;
        z-index: -1;
        transition: all ease-in-out .3s;
        opacity: 0;

        @media screen and(max-width: 768px){
            display: none;
        }
    }
}

.card--details {
    margin-top: 12px;
    display: block;
    padding: 16px;
    min-height: 0;
    width: 100%;
    opacity: 0;
    border: 1px solid $colorBrownDarken;
    transition: opacity .3s;
    pointer-events: none;
    
    .modal__title {
        margin-bottom: 8px;
        color: $colorBrownDarken;
    }

    .modal__text {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
        color: #3B4857;
    }
}

@media screen and(min-width: 992px) {
    .card--details {
        display: none;
    }
}