@media screen and(min-width: 1441px) {
    .footer {
        max-width: 1200px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .footer-buttons {
        margin-bottom: 30px;
        max-width: 700px;
    }
}
