
.footer-buttons {
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 720px;
    width: 100%;

    .btn-prev {
        position: relative;
        width: 186px;
        height: 64px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        transition: all .2s;
        text-align: center;
        white-space: nowrap;

        &:hover {
            color: #fff;
        }
    }

    .btn-next {
        margin-top: 20px;
        margin-bottom: 32px;
        margin-left: auto;
        position: relative;
        color: #000;
        display: block;
        //pointer-events: none;

        z-index: 2;
        cursor: not-allowed;

        &.active {
            color: #fff;
            cursor: pointer;
            pointer-events: unset;
        }

        &.active::before {
            width: 100%;
            transition: width .4s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:hover {
            color: #fff !important;
        }
    }

    @media screen and(max-width: 768px) {
        padding: 8px 16px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-next:hover {
            color: #000 !important;
        }

        .btn-prev,
        .btn-next {
            margin: 0;
            padding: 12px 20px;
            font-size: 14px;
            width: 130px;
            height: 42px;
        }
    }
}

.product-preview__controls {
    padding: 8px 16px 20px;
    width: 100%;
    z-index: 4;
}

@media screen and(min-width: 1441px) {
    .footer {

        max-width: 1200px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .footer-buttons {
        margin-bottom: 30px;
        max-width: 700px;
    }
}

@media screen and(max-width: 768px) {
    .footer {
        bottom: 0;
        width: 100%;
        background-color: #fff;
        z-index: 2;
    }

    
}