.steps-header {
    margin-top: 34px;
    padding-left: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;

    .btn-close {
        flex-basis: 41.7%;
    }

    @media screen and (min-width: 1441px) {
        padding-left: 0;
    }
}

.steps-list {
    max-width: 700px;
    width: 100%;

    

    .item:not(:first-child) {
        margin-left: 26px;
    }

    .item {
        display: flex;
        align-items: center;
    }

    .item.active {
        .step-icon {
            color: $colorWhite;
            background-color: $colorBrownDarken;
        }
    }

    .step-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-weight: 600;
        width: 32px;
        height: 32px;
        background-color: $colorBrownLighten;
        border-radius: 50%;
        cursor: pointer;
        transition: ease-in-out .3s;

        // &:hover {
        //     color: #fff;
        //     background-color: $colorBrownDarken;
        //     box-shadow: inset 2px 2px 6px 7px rgb(0 0 0 / 5%)
        // }
    }

    .step-title {
        margin-left: 12px;
        font-family: Playfair Display;
        font-size: 20px;
        line-height: 27px;
        font-weight: normal;
        color: #000;
    }
}

.step--flavor {
    .item:first-child {
        margin-right: auto;
    }
}



.step--form {
    .steps-list {
        .item:nth-child(2) {
            margin-right: 0;
        }

        .item:nth-child(2) {
            margin-right: auto;
        }
    }
}

.step--size {
    .steps-list {
        .item:nth-child(2) {
            margin-right: 0;
        }

        .item:nth-child(3) {
            margin-right: auto;
        }
    }
}

.step--package {
    .steps-list {
        .item:nth-child(3) {
            margin-right: 0;
        }

        .item:nth-child(4) {
            margin-right: auto;
        }
    }
}