.home-page {
    display: block;
    padding-top: 300px;
    height: 100vh;
    color: $colorWhite;
    // background-image: url('~images/backgrounds/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and(max-width: 768px){
        padding-top: 150px;
        padding-right: 16px;
        padding-left: 16px;
    }

    @media screen and(max-height: 790px) {
        padding-top: 130px;
    }
}

.home__title {
    text-align: center;
    max-width: 720px;

    @media screen and(max-width: 768px) {
        text-align: left;
    }
}


.home__bullets-list {
    margin-top: 50px;
    font-size: 18px;
    line-height: 25px;
    
    .item:not(:last-child) {
        margin-right: 50px;
    }

    @media screen and(max-width: 768px) {
        margin-top: 32px;
        flex-direction: column;
        align-self: baseline;

        .item:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
}

.home__btn {
    margin-top: 50px;

    @media screen and(max-width: 768px) {
        margin-top: 88px;
    }
}

.text-link {
    margin-top: 50px;
    font-weight: 600;
    color: $colorWhite;
    font-size: 16px;

    @media screen and(max-width: 768px) {
        margin-top: 30px;
    }
}

.store-slider,
.recommended__product-list,
.review__list {
    .flickity-button {
        background: transparent;
    }

    .flickity-button.previous {
        left: -45px;
    }

    .flickity-button.next {
        right: -45px;
    }

    .item {
        margin-right: 30px;
    }

    @media screen and(max-width: 768px) {
        .flickity-viewport {
            //overflow: visible;
        }

        .flickity-button {
            display: none;
        }
    }
}

.store__slide {
    max-width: 380px;
    width: 100%;

    .slide__header {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }

    .slide__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    .slide__description {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 150%;
        color: $colorSecondary; 
        text-align: left;
    }

    .slide__preview {
        margin-bottom: 16px;
        height: 250px;
    }

    .btn-link {
        width: 100%;
    }
}


/* section-stores */


.custom-select {
    max-width: 400px;
    width: 100%;
}

//.slider--snap {
//    overflow: auto;
//    scroll-snap-type: x mandatory;
//
//    @media screen and(max-width: 768px) {
//        .item {
//            min-width: 100%;
//            scroll-snap-align: start;
//            margin-right: 30px;
//        }
//    }
//}

.slider-addresses {

    .flickity-prev-next-button {
        background-color: transparent;
    }

    .flickity-prev-next-button.next {
        right: -45px;
    }

    .flickity-prev-next-button.previous {
        left: -45px;
    }

    .item {
        padding: 16px;
        width: 30%;
        background-color: $colorBrownLighten;
        margin-right: 30px;
    }

    .item__shop {
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 600;
        line-height: 135%;
    }

    .item__address {
        margin-bottom: 12px;
    }

    .item__address,
    .item__phone {
        color: $colorSecondary;
    }

    @media screen and(max-width: 768px) {

        .flickity-prev-next-button {
            display: none;
        }
        .item {
            width: 100%;
        }
    }
}