
/* FOOTER BUTTONS*/

.footer-buttons {
    padding-left: 20px;
    position: relative;
    display: flex;
    max-width: 720px;
    width: 100%;

    .btn-next {
        margin-top: 20px;
        margin-bottom: 32px;
        position: relative;
        display: block;
        margin-left: auto;
        cursor: not-allowed;
        z-index: 2;
    }
}

.btn-next:hover::before {
    width: 100%;
}

.btn-next::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    transition: width 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: -1;
    background-color: #181818;
}


/* SORTING GRID */

.grid-sizer {
    width: 160px;
    height: 220px;
}