


/* SORTING GRID */

.grid-sizer {
    width: 160px;
    height: 220px;

    @media screen and(max-width: 768px) {
        width: 100%;
         height: unset;
    }
}

.gutter-sizer {
    width: 20px;

    @media screen and(max-width: 768px) {
        width: 4%
    }
}