.destination,
.customer,
.payment {
    margin-bottom: 20px;
}

.destination__title,
.customer__title, 
.payment__title {
    margin-bottom: 6px;
    line-height: 19px;
}

.delivery-method {
    margin-bottom: 8px;
    line-height: 19px;
}

.thanks {
    overflow: visible !important;

    .btn-final {
        margin-bottom: 12px !important;
    }

    .card--recommended  {
        .custom-select {
            margin-bottom: 0;
        }
    }

    .recommended {
        margin-top: 60px;

        @media screen and(max-width: 768px){
           .recommended__product-list {
            max-height: unset;
            overflow: visible;
            overflow-y: auto;
           } 
        }
    }

    .main-cart,
    .cart__title {
        padding-right: 16px;
        padding-left: 16px;
    }

    .text-secondary {
        font-size: 12px;
        line-height: 150%;
    }

    @media screen and(max-width: 768px){
        .details__title,
        .quantity-group {
            display: none;
        }
    
        .capacity__quantity,
        .price__quantity {
            margin-top: 31px !important;
        }
    }

    .destination__spot {
        line-height: 130%;
    }
}

.order-number {
    font-family: "Open sans", sans-serif;
}