body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    counter-reset: section;
}

button {
    font-family: 'Open sans', sans-serif;
    cursor: pointer;
}

@media screen and(max-width: 768px) {
    input {
        font-size: 16px !important;
    }
}