.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    @media screen and(max-width: 768px) {
        // padding-right: 16px;
        // padding-left: 16px;
    }
}

.container--narrow {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    @media screen and(max-width: 768px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.flex-container {
    display: flex;
    margin-left: 0;
    @extend .container;

    @media screen and (min-width: 1441px) {
        margin: 0 auto;
        padding-left: 0;
    }
}

.container--step {
    padding-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding-left: 0;
    }
}

@media (min-width: 1920px) {
    .container--step {
        margin: 0 auto;
        width: 1200px;
        padding-left: 0;
    }
}