
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    //transition: ease-in 0.2s;
    z-index: -4;
    visibility: hidden;

    &.active {
        visibility: visible;
        z-index: 3;
        filter: blur(10);
        opacity: 0.3;
    }
}

.progress-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .line {
        height: 6px;
        width: 25%;
        background-color: $colorBrownDarken;
    }

    @media screen and(max-width: 1024px) {
        display: none;
    }
}

.modal.active {
    #overlay.active {
        transition-delay: .3s;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.ml-0 {
    margin-left: 0;
}

.hide {
    display: none !important;
}

.text-dark {
    color: #000;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    right: -15px;

    @media screen and(max-width: 768px) {
        width: 4px;
        overflow-x: hidden;
    }
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.065);

    @media screen and(max-width: 768px) {
        overflow-x: hidden;
        box-shadow: none;
        overflow-y: scroll;
    }
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $colorBrownLighten;

    @media screen and(max-width: 768px) {
        overflow-x: hidden;
        background: $colorBrownDarken;
        overflow-y: scroll;
    }
}



b,
.bold {
    font-weight: bold;
}

.text-white {
    color: #fff !important;
}

.text-dark {
    color: #231D18;
}

.text-primary {
    color: $colorBrownDarken;
}

.text-secondary {
    color: $colorSecondary;

    // @media screen and(max-width: 768px) {
    //     font-size: 12px;
    //     line-height: 150%;
    // }
}

.red-star {
    color: #fc4b4e !important;
}


.text-left {
    text-align: left;
}