#cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid $colorBrownDarken;
    border-radius: 50%;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    // transition: .15s;
    z-index: 1000;
    mix-blend-mode: difference;
}

#cursor--small {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $colorBrownLighten;
    border-radius: 50%;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    // transition: .3s;
    z-index: 1000;
    mix-blend-mode: difference;
}

#cursor.expand {
    opacity: .5;
    width: 4px;
    height: 4px;
    top: 13px;
    left: 13px;
    transition: .3s;
    // animation: cursorAnimSmall .5s;
}

#cursor--small.expand {
    opacity: .5;
    width: 4px;
    height: 4px;
    top: 2px;
    left: 2px;
    transition: .3s;
    // animation: cursorAnimSmall;
}

*:hover ~  #cursor {
    // background-color: red;
    opacity: 0;
    transition: .2s;
}

*:hover ~ #cursor--small {
    transform: translate(-50%, -50%);
    // opacity: 1;
    transition: .3s;
    width: 20px;
    height: 20px;
    background-color: $colorBrownDarken;
    // transition-delay: .4s;
}

@keyframes cursorAnimSmall {
    0% {
        width: 3px;
        height: 3px;
        transform: translate(0, 0) scale(0.2);
    }

    25% {
        width: 7px;
        height: 7px;
        // transform: translate(-50%, -50%);
        transform: translate(0, 0) scale(0.5);
    }

    100% {
        width: 25px;
        height: 25px;
        // transform: translate(-50%, -50%);
        transform: translate(0, 0) scale(1);
    }
}



#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: 0.4s;
    z-index: -4;

    &.active {
        z-index: 3;
        filter: blur(10);
        opacity: 0.3;
    }
}

.modal.active {
    #overlay.active {
        transition-delay: .3s;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.ml-0 {
    margin-left: 0;
}

.hide {
    display: none !important;
}

.text-dark {
    color: #000;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    position: absolute;
    right: -15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.065);
    // border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $colorBrownLighten;
    // border-radius: 10px;
  }

b {
    font-weight: bold;
}




