.registration-page,
.recovery-page {

  .login__title {
    font-size: 32px;
    line-height: 150%;

    @media screen and(max-width: 768px) {
      margin-bottom: 0;
      text-align: left;
      font-size: 20px;
    }
  }

  .modal--thank-you {
    padding: 20px;

    .modal__container {
      padding-top: 20px;
      margin: 0 auto;
      max-width: 332px;
      width: 100%;
    }

    .btn-close {
      top: -25px;
      left: 46%;
      margin-bottom: 20px;
    }

    @media screen and(max-width: 767px) {
      width: 330px;
    }
  }



  .btn-submit {
    margin-top: 0;
  }


}