#password-form {
  .form__grid {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .input-wrapper {
    margin-left: 0;
    position: relative;
  }

  .input-wrapper:not(:last-of-type) {
    margin-right: 20px !important;

    width: 100% !important;
  }

  .label {
    top: 8px;
    font-size: 16px;
    line-height: 22px;
  }

  .form-input {
    font-size: 16px;
    line-height: 22px;
  }

  .btn-toggle {
    position: absolute;
    top: 10px;
    right: 0;
    width: 24px;
    height: 24px;

    img {
      position: absolute;
      top: -3px;
      left: 0;
    }
  }
}